body
{

font-family:  'Lato', sans-serif;
color: #747704;
font-weight:300 ;
    
}
.text-muted
{
    color: #BCBBBB;
    
}
.text-thin
{
    font-weight: 100;
    
}
.title-super{
    font-size: 40px;
}
.title-logo{
    margin-top: 20px;
    width: 100px;
}

.text-img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.main-img {
    width: 100%;
}

.row{
      border-bottom-color: #ff0000;
}
.bottom-line {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
 .image-sty
{
    width:100%;
}